@import url('https://fonts.googleapis.com/css2?family=Yuji+Syuku&display=swap');

:root {
  --darkgray: rgba(33,37,41);
  --hover-shadow: 0 0 10px black;
  --card-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  --black-text-border: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  --gryffindor-red: #dc3545;
  --gryffindor-gold: #ffc107;
  --hufflepuff-yellow: #ffc107;
  --ravenclaw-blue: #0d6efd;
  --ravenclaw-copper: #ff7c02;
  --slytherin-green: #198754;
  --facebook: #3b5998;
  --twitter: #55acee;
  --email: #777777;
  --whatsapp: #25d366;
}

*{
    box-sizing: border-box;
    font-family: 'Yuji Syuku', serif;
}

body {
  margin: 100px 0 170px 0 !important;
  flex-wrap: wrap;
  clear: both;
}

header,
main{
  padding: 0 !important;
  margin: 0 !important;
}

a{
    text-decoration:none !important;
}

hr{
    margin:0;
}

.hidden{
    display:none;
}

.bold{
    font-weight: bolder !important;
}

.uppercase-txt {
   text-transform: uppercase;
}

/* Navbar => Source / Inspiration :
https://getbootstrap.com/docs/4.4/components/navs/
https://www.w3schools.com/howto/howto_js_navbar_sticky.asp */
nav {
  right: 0;
  left: 0;
  margin-bottom: 5rem;
  -webkit-box-shadow: 0 8px 6px -6px rgba(200, 200, 200, 0.9);
  -moz-box-shadow: 0 8px 6px -6px rgba(200, 200, 200, 0.9);
  box-shadow: 0 8px 6px -6px rgba(200, 200, 200, 0.9);
}

.navbar {
  width: 100%;
  position: fixed;
  top: 0;
}

.navbar-container{
  width: 100%;
}

.logo-img {
  width: 100px;
  height: 70px;
  float: left;
  position: relative;
  margin: 0px 10px 0px 10px;
  cursor: pointer;
}

.navbar-toggler{
  margin-right:10px;
}

.nav-link{
    font-size:18px;
    margin: 0px 5px 0px 5px;
}

/* Footer => Source / Inspiration : https://css-tricks.com/couple-takes-sticky-footer/ */

.footer {
  background-color: var(--darkgray);
  display: block;
  position: fixed;
  padding: 0.5rem 0 0.5rem 0;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.footer p {
  font-size: 12px !important;
  color: white;
  text-align: center;
  margin: auto;
  margin: auto;
}

.footer p a {
  color: white !important;
}

/* Footer Social Sharing buttons => Source / Inspiration : https://sharingbuttons.io/ */

.resp-sharing-button {
  border-radius: 5px;
  transition: 25ms ease-out;
  padding: 0.2rem 0.5rem 0.2rem 0.5rem;
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial,sans-serif';
  border: 0.1em solid white;
}

.resp-sharing-button__link,
.resp-sharing-button__icon {
  display: inline-block;
}

.resp-sharing-button__link {
  text-decoration: none;
  color: white;
  margin: 0 0.5em 0 0.5em;
}

.resp-sharing-button__icon {
  fill: white;
  stroke: none;
}

.resp-sharing-button__icon svg {
  width: 0.9em;
  height: 0.9em;
  margin-right: 0.4em;
  vertical-align: top;
}

.resp-sharing-button svg {
  margin: 0;
  vertical-align: middle;
}

.facebook:hover,
.facebook:active {
  background-color: var(--facebook);
  border-color: var(--facebook);
}

.twitter:hover,
.twitter:active {
  background-color: var(--twitter);
  border-color: var(--twitter);
}

.email:hover,
.email:active {
  background-color: var(--email);
  border-color: var(--email);
}

.whatsapp:hover,
.whatsapp:active {
  background-color: var(--whatsapp);
  border-color: var(--whatsapp);
}

/* Home */
.center-container {
  margin: auto;
  display: flex;
  width: auto;
  align-items: center;
  text-align: center;
}

.home-image{
    width:250px;
    height:auto;
    object-fit: cover;
}

.large-btn{
    font-size: 30px !important;
}

.buttons-container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 4px;
    width: 100%;
    margin: auto;
}

.index-card {
    border: none;
    box-shadow: var(--card-shadow);
    border-radius: 0.5rem;
    margin: auto;
    -ms-flex: 50%;
    flex: 50%;
    width: 300px;
    padding: 0 4px;
}

.index-card-icon {
    margin: 0.5rem 0 0.5rem 0;
    width: 150px;
    height: auto;
}

.gryffindor-btn,
.gryffindor-btn:hover{
    color: var(--gryffindor-gold);
    background-color: var(--gryffindor-red) !important;
}

.ravenclaw-btn,
.ravenclaw-btn:hover{
    color: var(--ravenclaw-copper);
    background-color: var(--ravenclaw-blue) !important;
}

.slytherin-btn,
.slytherin-btn:hover{
    color: white;
    background-color: var(--slytherin-green) !important;
}

.hufflepuff-btn,
.hufflepuff-btn:hover{
    color: black;
    background-color: var(--hufflepuff-yellow) !important;
}

.gryffindor-txt{
    color: var(--gryffindor-red);
}

.hufflepuff-txt{
    color: var(--hufflepuff-yellow);
}

.ravenclaw-txt{
    color: var(--ravenclaw-blue);
}

.slytherin-txt{
    color: var(--slytherin-green);
}

/* Resize */

@media screen and (max-width: 500px) {
  .index-card{
    width: 280px;
  }

}