{% extends 'base.html' %}
{% block content %}
{% load static %}
<main>
    <div class="container">
        <br>
        <div class="row">
            <div class="col-xs-1 text-center">
                <h1 class="display-4">Welcome to<br>Hogwarts School of Witchcraft and Wizardry!</h1>
            </div>
        </div>
        <div class="row mt-3 mb-4">
            <div class="center-container">
                <img class="home-image" src="{% static '' %}img/hogwarts.png" />
            </div>
        </div>
        <div class="row">
            <div class="col-xs-1 text-center">
                <h2>Get sorted in your Hogwarts House!</h2>
            </div>
        </div>
    </div>
</main>
{% endblock content %}