{% extends 'base.html' %}
{% block content %}
{% load static %}
<main>
    <div class="container">
        <!-- House Introduction -->
        <div class="row mb-4">
            <div class="col-xs-1 text-center">
                <h1 class="uppercase-txt {{house.name}}-txt bold">House {{house.name}}</h1>
            </div>
        </div>
        <div class="row mt-3 mb-4">
            <div class="center-container mb-2">
                <img src="{% static '' %}img/{{house.name}}.png" class="sorting-houses-icon" alt="{{house.name}} crest">
            </div>
        </div>
        <div class="row mt-4 mb-2">
            <div class="center-container">
                <h4 class="bold">{{house.description|linebreaks}}</h4>
            </div>
        </div>
        <!-- House Statistics -->
        <div class="center-container mt-2 mb-4">
            <div class="index-card">
                <article class="mt-4 mb-2">
                    <header>
                        <div class="row mb-2">
                            <div class="center-container">
                                <h2 class="mt-1 uppercase-txt bold">
                                    House statistics
                                </h2>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="center-container">
                                <img src="{% static '' %}img/{{house.name}}_crest.png"
                                     class="sorting-houses-icon" alt="{{house.name}} crest modern">
                            </div>
                        </div>
                    </header>
                    <hr>
                    <section>
                        <!-- Number of students in the House -->
                        <header>
                            <div class="row">
                                <div class="center-container">
                                    <h3 class="mt-1 uppercase-txt {{house.name}}-txt bold">
                                        Number of students<br>{{house.students}}
                                    </h3>
                                </div>
                            </div>
                        </header>
                        <hr>
                        <!-- Average % of house students who are satisfied with sorting result
                             based on number of house students who provided satisfaction feedback -->
                        <div class="row">
                            <div class="center-container">
                                <h4 class="mt-1 uppercase-txt bold">
                                    Average sorting satisfaction<br>{{house.satisfaction_rate}}%
                                </h4>
                            </div>
                        </div>
                        <!-- Average % of house students who selected this house and also get sorted in it -->
                        <div class="row">
                            <div class="center-container">
                                <h4 class="mt-1 uppercase-txt bold">
                                    Average selection - In house<br>{{house.selected}}%
                                </h4>
                            </div>
                        </div>
                        <!-- Average % of house students who selected this house but get sorted in another one -->
                        <div class="row">
                            <div class="center-container">
                                <h4 class="mt-1 uppercase-txt bold">
                                    Average selection - Other houses<br>{{house.selected_others}}%
                                </h4>
                            </div>
                        </div>
                    </section>
                    <hr>
                    <!-- Showing average % of house students for other houses -->
                    <footer>
                        {% if 'gryffindor' not in house.name %}
                        <div class="row">
                            <div class="center-container">
                                <h4 class="mt-1 uppercase-txt result-line gryffindor-txt bold">
                                    Average % Gryffindor : {{house.gryffindor}}%
                                </h4>
                            </div>
                        </div>
                        {% endif %}
                        {% if 'hufflepuff' not in house.name %}
                        <div class="row">
                            <div class="center-container">
                                <h4 class="mt-1 uppercase-txt result-line hufflepuff-txt bold">
                                   Average % Hufflepuff : {{house.hufflepuff}}%
                                </h4>
                            </div>
                        </div>
                        {% endif %}
                        {% if 'ravenclaw' not in house.name %}
                        <div class="row">
                            <div class="center-container">
                                <h4 class="mt-1 uppercase-txt result-line ravenclaw-txt bold">
                                    Average % Ravenclaw : {{house.ravenclaw}}%
                                </h4>
                            </div>
                        </div>
                        {% endif %}
                        {% if 'slytherin' not in house.name %}
                         <div class="row">
                             <div class="center-container">
                                <h4 class="mt-1 uppercase-txt result-line slytherin-txt bold">
                                    Average % Slytherin : {{house.slytherin}}%
                                </h4>
                             </div>
                        </div>
                        {% endif %}
                    </footer>
                </article>
            </div>
        </div>
        <!-- House Information -->
        <div class="row mt-4 mb-3">
            <div class="col-xs-1 text-center mt-4">
                <h2 class="uppercase-txt bold">House Information</h2>
            </div>
        </div>
        <div class="row mb-4">
            <div class="center-container">
                <img src="{% static '' %}img/{{house.name}}_crest.png" class="sorting-houses-icon"
                     alt="{{house.name}} crest modern">
            </div>
        </div>
        <!-- Random house-specific quote read-in from txt 'static/txt/quotes.txt' -->
        <div class="row mb-4">
            <div class="col-xs-1 text-center mb-2">
                <h3 class="bold">{{quote}}</h3>
                <h3 class="bold">{{quote_author}}</h3>
            </div>
        </div>
        <!-- Collapsible House Information Sections -->
        <div class="row" id="collapsible-sections">
            <!-- Collapsible Section : House Traits -->
            <div class="collapsible-section" id="section-traits">
                <input type="checkbox" name="collapse" id="coll-section-traits">
                <div class="collapsible-section-title">
                    <label class="uppercase-txt {{house.name}}-btn {{house.name}}-label bold"
                           for="coll-section-traits">{{house.name}} traits</label>
                </div>
                <div class="collapsible-section-content mt-2">
                    <div class="row">
                        <div class="center-container">
                            <img src="{% static '' %}img/{{house.name}}_traits.jpg" id="traits-img"
                                 alt="{{house.name}} traits" />
                        </div>
                    </div>
                    <div class="white-card row mt-3">
                        <div class="collapsible-section-text bold"><p>{{house.traits|linebreaks}}</p></div>
                    </div>
                </div>
            </div>
            <!-- Collapsible Section : House Founder -->
            <div class="collapsible-section" id="section-founder">
                <input type="checkbox" name="collapse" id="coll-section-founder">
                <div class="collapsible-section-title">
                    <label class="uppercase-txt {{house.name}}-btn {{house.name}}-label bold"
                           for="coll-section-founder">{{house.name}} founder</label>
                </div>
                <div class="collapsible-section-content mt-2">
                    <div class="row">
                        <div class="center-container">
                            <img src="{% static '' %}img/{{house.name}}_founder.gif" id="founder-img"
                                 alt="{{house.name}} founder" />
                        </div>
                    </div>
                    <div class="white-card row mt-3">
                        <div class="collapsible-section-text bold"><p>{{house.founder|linebreaks}}</p></div>
                    </div>
                </div>
            </div>
            <!-- Collapsible Section : House Symbol -->
            <div class="collapsible-section" id="section-symbol">
                <input type="checkbox" name="collapse" id="coll-section-symbol">
                <div class="collapsible-section-title">
                    <label class="uppercase-txt {{house.name}}-btn {{house.name}}-label bold"
                           for="coll-section-symbol">{{house.name}} symbol</label>
                </div>
                <div class="collapsible-section-content mt-2">
                    <div class="row">
                        <div class="center-container">
                            <img src="{% static '' %}img/{{house.name}}_symbols.png" id="symbol-img"
                                 alt="{{house.name}} symbol" />
                        </div>
                    </div>
                    <div class="white-card row mt-3">
                        <div class="collapsible-section-text bold"><p>{{house.symbol|linebreaks}}</p></div>
                    </div>
                </div>
            </div>
            <!-- Collapsible Section : House Element -->
            <div class="collapsible-section" id="section-element">
                <input type="checkbox" name="collapse" id="coll-section-element">
                <div class="collapsible-section-title">
                    <label class="uppercase-txt {{house.name}}-btn {{house.name}}-label bold"
                           for="coll-section-element">{{house.name}} element</label>
                </div>
                <div class="collapsible-section-content mt-2">
                    <div class="row">
                        <div class="center-container">
                            <img src="{% static '' %}img/{{house.name}}_element.png" id="element-img"
                                 alt="{{house.name}} element" />
                        </div>
                    </div>
                    <div class="white-card row mt-3">
                        <div class="collapsible-section-text bold"><p>{{house.element|linebreaks}}</p></div>
                    </div>
                </div>
            </div>
            <!-- Collapsible Section : House Common Room -->
            <div class="collapsible-section" id="section-commonroom">
                <input type="checkbox" name="collapse" id="coll-section-commonroom">
                <div class="collapsible-section-title">
                    <label class="uppercase-txt {{house.name}}-btn  {{house.name}}-label bold"
                           for="coll-section-commonroom">{{house.name}} common room</label>
                </div>
                <div class="collapsible-section-content mt-2">
                    <div class="row">
                        <div class="center-container">
                            <img src="{% static '' %}img/{{house.name}}_commonroom.jpg" id="commonroom-img"
                                 alt="{{house.name}} common room" />
                        </div>
                    </div>
                    <div class="white-card row mt-3">
                        <div class="collapsible-section-text bold"><p>{{house.commonroom|linebreaks}}</p></div>
                    </div>
                </div>
            </div>
            <!-- Collapsible Section : House Ghost -->
            <div class="collapsible-section" id="section-ghost">
                <input type="checkbox" name="collapse" id="coll-section-ghost">
                <div class="collapsible-section-title">
                    <label class="uppercase-txt {{house.name}}-btn {{house.name}}-label bold"
                           for="coll-section-ghost">{{house.name}} ghost</label>
                </div>
                <div class="collapsible-section-content mt-2">
                    <div class="row">
                        <div class="center-container">
                            <img src="{% static '' %}img/{{house.name}}_ghost.gif" id="ghost-img"
                                 alt="{{house.name}} ghost" />
                        </div>
                    </div>
                    <div class="white-card row mt-3">
                        <div class="collapsible-section-text bold"><p>{{house.ghost|linebreaks}}</p></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock content %}